{% extends 'base.html.twig' %}

{% block title %}Manga Review{% endblock %}

{% block body %}
    <form action="" method="post">
        {# <input type="text" name="nom" placeholder="Nom" required/>
        <input type="text" name="date_parution" placeholder="Date de parution" required/>
        <input type="text" name="nb_tome" placeholder="Nombre de tome" required/>
        <input type="text" name="statut" placeholder="Statut" required/>
        <textarea name="description" placeholder="Description" required> </textarea>
        <input type="text" name="genre" placeholder="Genre" required/>
        <input type="text" name="type" placeholder="Type" required/>
        <select name="auteur_id" required>
            <option value=""> Choisir un auteur </option>
            {% for auteur in auteurs %}
                <option value="{{auteur.id}}">{{auteur.nom}} {{auteur.prenom}}</option>
            {% endfor %}    
        </select>
        <button type="submit"> Envoyer </button> #}

        {{form(form)}}
    </form>
{% endblock %}