{% extends 'base.html.twig' %}

{% block title %}Manga Review{% endblock %}

{% block body %}
<style>
</style>

    <div>
        <tab>
        <thead>
            <tr>
                <th> Nom </th>
                <th> Genre </th>
                <th> Type </th>
                <th> Auteur </th>
            </tr>
        </thead>
        <tbody>
        {% for manga in mangas %}
            <tr>
                <td> {{manga.nom}} </td>
                <td> {{manga.genre}} </td>
                <td> {{manga.type}} </td>
            </tr>
        {% endfor %}
        </tbody>
    </div>      
{% endblock %}
